/gradlew text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
*.jar binary
*.java eol=lf
*.gradle eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.go eol=lf
*.mod eol=lf
*.yaml eol=lf
*.yml eol=lf
*.tpl eol=lf